@{
    ViewBag.Title = "Contact";
}
    <div>
        <address style="padding-left:20px; padding-top:20px; position:relative; left:10px;">
            Üniversiteler Mahallesi, Cyberplaza C-Blok<br />
            Bilkent Teknoloji Geliştirme Bölgesi D:202<br />
            06800 Çankaya/Ankara<br />
            Phone: <b>(0312) 265 00 37</b>
        </address>
    </div>

<address style="padding-left:20px; padding-top:20px; position:relative; left:10px;">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">engindenizkopan@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

