@{
        Layout = "~/Views/Shared/userLayout.cshtml";
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>getSession</title>
    </head>
    <body>
        <div>
        </div>
    </body>
    </html>

