@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <h1 class="my-4">Welcome to Our Community</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Photographers &#128247</h4>
                <div class="card-body">
                    <p class="card-text">Make contact with photographers from world-wide and join to amazing events.</p>
                </div>
                <div class="card-footer">
                    <a href="../Home/AboutPhoto" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Web Developers &#128187</h4>
                <div class="card-body">
                    <p class="card-text">Join to our community and learn recent technologies in web development. Follow up for events and more..</p>
                </div>
                <div class="card-footer">
                    <a href="../Home/AboutWebDevelopers" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Law Students &#9878</h4>
                <div class="card-body">
                    <p class="card-text">Be a member of our energetic team to be a participant and take responsibilities for organizing events.</p>
                </div>
                <div class="card-footer">
                    <a href="../Home/AboutLawCommunity" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Portfolio Section -->
    <h2>Discover Weekly Events</h2>

    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://taminglightphotography.com/wp-content/uploads/2016/01/sunset-gold-coast.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Sunset Photography Workshop - Bilkent Photography Clup</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://cdn.devdojo.com/posts/images/November2018/becoming-a-web-developer-in-20192.jpg?auto=compress&w=960&dpr=2" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Recent Technologies in Web Development - Bilkent IEEE Student Branch</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://masterinvestor.co.uk/wp-content/uploads/2017/05/Brexit-Talks-800x475.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Brexit Talks - Bilkent Law Community</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://www.thegreatfoodclub.com/wp-content/uploads/2017/08/coffee-club-coffee-cup.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Coffee Cupping - Ankara Coffee Society &#9749</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://www.mytraining.se/wp-content/uploads/2018/10/yoga_mytraining_uppsala.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Intermediate Yoga Class - Sports International &#9728</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0013/5662/8070/products/web_ck_tin_graduation.jpg?v=1556625175" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Cookie Baking Basics - Istanbul Baking Society &#127850 </a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Explore Your Interests</h2>
            <p>There are several fields of interests that you should look at:</p>
            <ul>
                <li>Software Development</li>
                <li>Photography</li>
                <li>Food&Drinks</li>
                <li>Data Science</li>
                <li>Botanists</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="https://www.cvplaza.com/wp-content/uploads/2012/09/example-of-cv-hobbies.png" alt="">
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
    </div>

</div>
